{
    "mainnetNodeURI": "",
    "testnetNodeURI": "",
    "testnetPrivateKey": "Put here",
    "etherscanApiKey": "Put here",
    "mainnetPrivateKey": "Put here",
    "localPrivateKey": "Put here",
    "coinMarketCapApiKey": "Put here"
}
