{
    "mainnetNodeURI": "",
    "testnetNodeURI": "",
    "testnetPrivateKeys": [],
    "etherscanApiKey": "",
    "mainnetPrivateKeys": [],
    "localPrivateKeys": [],
    "coinMarketCapApiKey": ""
}
